.App {
  padding: 10px;
  border: 25px solid lightcoral;
  background-color: rgb(44, 40, 40);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.navigation {
  width: 170px;
  height:100%;
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 20px;
  transition: width 0.3s ease;
  align-items: flex-start;
  overflow-y: auto;
  height:auto;
  border-radius: 10px;
}

.my-img{
  border-radius: 50%;
  height: 300px;
  width: auto;
  background-color: lightcoral;
  margin: 45px;
  position: relative;
}

.my-info{
  height: 300px;
  border-radius: 10px;
  margin: 50px;
  max-width: 600px; 
  margin-left: 20px;
}

.my-info p{
  font-family: 'Arial', sans-serif; 
  color: lightcoral;
  font-size: 18px;
  line-height: 1.5; 
  padding: 10px; 
  border-radius: 5px;
}

.icon{
  display: flex;
  cursor: pointer;
  font-size: large;
  gap: 5px;
}

.about-me{
  display: flex;
flex-direction: row;
/* flex-wrap: wrap; */
justify-content: space-between;
padding: 20px;

}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  border: 6px solid lightcoral;
  cursor: pointer ;
}
.image:hover {
  transform: scale(1.2); 
}

.switch {
  margin-top: 10px;
  margin-left: auto; 
  padding: 10px; 
  order: 1;
}
.sub-skills {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
 
.paper{
  gap: 40px;
}
.sub-projects{
  padding: 30px;
}

.cards{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.skills{
  padding: 25px;
 
}

.projects{
margin: 20px;
padding: 20px;
}
.cards-project{
  display: flex;
    flex-direction: column;
  gap: 40px;
}

.achievements{
  margin: 20px;
padding: 20px;
gap: 40px;
}
.contact-me{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 margin: 20px;
 border: 5px solid lightcoral;
 padding: 30px;
 border-radius: 40px;
}
.error-message{
  color: pink;
}

.Thankyou-page{
  display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 30px;
}