.App{
height: 100vh;
width: 100vw;
overflow-x: hidden;
}

.my-img{
  margin: 20px;
  height:700px;
  width: 100%;
}
.image{
  margin: 3rem;
  margin-top: 70px;
  max-height: 600px;
  height: auto;
  width: auto;
  border-radius: 100px;
 cursor: zoom-in;
 box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.image:hover{
  transform: scale(1.1);
  transition: ease-in-out;
}
.navigation{
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  padding: 1.5rem;
  justify-content: flex-end;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

 .switch{
 color: rgb(199, 165, 199);
} 
.switch:hover{
  color:coral;
}
.about-me{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.name-highlight {
  font-weight: bold;
  color: #ce44a2; 
  font-size: 2rem;
  margin: 0.5rem;
}
.name-highlight:hover {
 color: coral;
 cursor: pointer;
 height: 4px;
}
.name-highlight:hover::after {
  height: 4px; 
}
Button:hover{
color: coral;
}

.my-info{
  padding: 20px;
  display: flexbox;
  height: auto;
 font-size: large;
  font-family: cursive;
  color: pink;
}
.icon{
  display:flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.icon:hover{
  color: rgb(205, 101, 118);
}
.sub-skills{
  margin: 2rem;
}
.paper{
  gap: 60px;
}
.sub-projects{
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.cards{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.one-card{
  gap: 1rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.skills-paper{
  max-width: 80%;
}
.projects{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.projects-cards{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border: 2px solid pink;
 box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
cursor: pointer;
} 
.projects-cards:hover{
  transform: translateY(-5px); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.one-card:hover{
  transform: translateY(-5px); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.achievements{
  display: flex;
  flex-direction: row;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}
.contact-me{
 margin: 20px;
 padding: 2rem;
}
.email-bar{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
border: 2px solid pink;
padding: 2rem;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.Thankyou-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  margin: 20px;
}